body {
    width: 100%;
    font-size: 20px;
    font-family: helvetica, sans-serif;
    background-color: whitesmoke;
}

header {
    height: 120px;
}

header>div.logo-box {
    position: relative;
    top: 0;
    left: -40px;
    text-align: center;
    font-size: 40px;
    width: 50%;
    height: 135px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(180deg, #6600ff, #6619EB, #6659B8, #6666AD, #669985, #66d952);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #6600ff, #6619EB, #6659B8, #6666AD, #669985, #66d952);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #6600ff, #6619EB, #6659B8, #6666AD, #669985, #66d952);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #6600ff, #6619EB, #6659B8, #6666AD, #669985, #66d952);
    /* Standard syntax (must be last) */
    transform: skew(-28deg, 0);
}

header div .logo-box-content {
    color: #fff;
    font-size: 35px;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: 10px 8px 18px #000;
    transform: skew(38deg, 0);
    padding-top: 20px;
}

form {
    padding: 10px;
}

.gif-logo {
    background-image: url("../../imgs/logo_buildtext_white_forever.gif")
}

.drop-shadow {
    -webkit-box-shadow: 3px 2px 18px 13px rgba(125, 124, 125, .8);
    -moz-box-shadow: 3px 2px 18px 13px rgba(125, 124, 125, .8);
    box-shadow: 3px 2px 18px 13px rgba(125, 124, 125, .8);
}

.box-shadow {}

.button-box {
    padding: 20px;
    margin: 40px 120px;
    background-color: #6600ff;
}

.btn {
    margin: 0 4px;
}

.content-box {
    display: flex;
    margin: 10px 120px;
    background-color: honeydew;
}

.side-box {
    flex: 1;
    padding: 20px;
    background-color: turquoise;
}

.gifs-container {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    background-color: MediumSpringGreen;
}

.gif-frame {
    flex: 1 1 auto;
    position: relative;
    width: 280px;
    align-items: center;
}

.gif-frame .active-gif {
    box-shadow: 0px 0px 10px 10px #337ab7;
}

.gif-frame img {
    width: 95%;
    max-height: 200px;
    border-radius: 8px;
    margin: 2px;
    justify-content: space-around;
}

.gif-frame span {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    padding: 20px;
    border-radius: 6px;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.4);
}


/*-----------------------
*    Animation
*-----------------------*/

@@keyframes slidein {
    100% {
        transform: translateX(0);
    }
}

@keyframes load {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

span.loading {
    animation-name: load;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

span.loading:nth-child(2) {
    /** offset 2nd dot */
    animation-delay: .2s;
}

span.loading:nth-child(3) {
    /**offset 3rd dot from second dot */
    animation-delay: .4s;
}
